*{
  margin : 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --color-131921: #131921;
  --color-3b4149: #3b4149;
  --color-febd69: #febd69;
  --color-232f3e: #232f3e;
  --color-bf4800: #bf4800;
  --color-f5f5f7: #f5f5f7;
  --color-ededed: #ededed;
  --color-777777: #777777;
  --color-1c1c1b: #1c1c1b;
}
.colors{
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.colors li{
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
}
.section-heading{
  font-size: 26px;
  line-height: 32px;
  font-weight: 500;
  margin-bottom: 30px;
}
.card-wrapper{
  background-color: white;
  box-shadow: 0 0 10px #0000001a;
  padding: 15px;
}
body{
  font-family: 'Rubik', sans-serif;
}
a{
  text-decoration: none;
  display: inline-block;
}
.form-control:focus{
  box-shadow: none;
  border-color: inherit;
}
.gap-5{
  gap: 5px;
}
.gap-10{
  gap: 10px;
}
.gap-15{
  gap: 15px;
}
.gap-30{
  gap: 30px;
}

.strikethrough-text {
  text-decoration: line-through;
}
.button{
  background-color: var(--color-232f3e);
  color: white;
  font-size: 14px;
  padding: 13px 33px;
  border-radius: 25px;
}
.button:hover{
  background-color: var(--color-febd69);
  color: #131921;
}


/*Header part start */
.header-top-strip {
  border-bottom: 1px solid var(--color-3b4149);
  background-color: var(--color-131921);
}
.header-upper{
  background-color: var(--color-131921);
}
.header-bottom{
  background-color: var(--color-3b4149);
}

.header-upper .input-group-text{
  background-color: var(--color-febd69);
}

.header-upper .header-upper-links img{
  width: 30px;
  height: 30px;
}

.header-bottom .menu-links a,
.header-bottom .dropdown button{
  columns: white;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: .3;
  text-transform: uppercase;
}
.header-bottom .dropdown button:focus {
  box-shadow: none;
}

.header-bottom .dropdown-menu{
  background-color: var(--color-131921);
  width: 100%;
  transform: translate3d(0px,57px,0px) !important;
}
.header-bottom .dropdown-item{
  padding: 20px;
  margin-bottom: 3px;
  border-bottom: 1px solid var(--color-3b4149);
}
.header-bottom .dropdown-item:hover{
  background-color: transparent;
  color: var(--color-febd69) !important;
}
/*Header part ends */

/*Footer start here */

footer{
  background-color: var(--color-232f3e);
}

/*Footer part ends */





/*Home start here */

.main-banner-content{
  top: 15%;
  left: 5%;
}

.main-banner-content h4 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-bf4800);
  margin: 0 0 12px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}
.main-banner-content h5 {
  font-size: 42px;
  line-height: 54px;
  font-weight: 500;
  letter-spacing: -2px;
  text-transform: none;
}
.main-banner-content p {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: var(--color-131921);
  margin: 0 0 12px;
  letter-spacing: 0.4;
  text-transform: uppercase;
}

.small-banner-content{
  top: 25%;
  left: 10%;
}

.small-banner-content h4 {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-bf4800);
  margin: 0 0 12px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}
.small-banner-content h5 {
  font-size: 22px;
  line-height: 34px;
  font-weight: 500;
  letter-spacing: -2px;
  text-transform: none;
}
.small-banner-content p {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: var(--color-131921);
  margin: 0 0 12px;
  letter-spacing: 0.4;
  text-transform: uppercase;
}
.small-banner {
  width: 49%;
}

/*home wrapper 2 starts */
.home-wrapper-2{
  background-color: var(--color-f5f5f7);
}
/*home wrapper 2 ends  */

/*Categories starts here*/

.categories{
  background-color: white;
  box-shadow: 0 0 10px #0000001a;
  padding: 15px;
}
.categories>div>div {
  width: 60%;
}
.categories > div {
  width: 25%;
  padding: 10px 10px 10px 20px;
}
.categories>div:nth-child(1),
.categories>div:nth-child(2),
.categories>div:nth-child(3),
.categories>div:nth-child(4){
border-bottom: 1px solid var(--color-ededed);
}
.categories>div:nth-child(1),
.categories>div:nth-child(2),
.categories>div:nth-child(3){
border-right: 1px solid var(--color-ededed);
}
.categories>div:nth-child(5),
.categories>div:nth-child(6),
.categories>div:nth-child(7){
border-right: 1px solid var(--color-ededed);
}
/*Categories ends here */

/*Product Card starts here */

.product-card{
  padding: 15px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}
.product-card .product-image{
  height: 270px;
}
.product-card .product-image img{
  object-fit: contain;
}
.product-card .product-image>img:last-child{
  display: none;
}
.product-card:hover .product-image > img:nth-child(1){
  display: none;
}
.product-card:hover .product-image > img:last-child{
  display: block;
}
.product-card:hover .action-bar{
  right: 15px;

}
.product-card .product-details h6{
  color: var(--color-bf4800);
  font-size: 13px;

}
.product-card .product-details h5{
  color: var(--color-1c1c1b);
  font-size: 15px;
}
.product-card .product-details p.price{
  color: var(--color-1c1c1b);
  font-size: 16px;
}
.action-bar{
  top: 10%;
  right: -23px;
  transition: .3s;
}
.wishlist-icon {
  top: 2%;
  right: 15px;
}

/*Product Card ends here */

/*Spectial Product Card Starts here */

.special-product-card{
  padding: 20px 10px;
  border-radius: 10px;
  background-color: white;
}

/*Spectial Product Card ends here */

/* Compare product starts here*/

.compare-product-card{
  padding: 20px 15px;
  background-color: white;
  border-radius: 10px;
}
.compare-product-card .cross,
.wishlist-card .cross{
  top: 15px;
  right: 15px;
  width: 25px;
  padding: 3px;
  cursor: pointer;
}
.compare-product-details h5.title,
.wishlist-card h5.title{
  font-size: 15px;
  line-height: 22px;
  font-weight: 500;
  color: var(--color-1c1c1b);
}
.compare-product-details h6.price,
.wishlist-card h6.price{
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
}
.compare-product-card .product-detail{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  border-top: 1px solid var(--color-f5f5f7);
}

/* Compare product ends here*/

/* auth card starts here*/

.auth-card{
  padding: 20px;
  background-color: white;
  width: 500px;
  margin: 30px auto;
  border-radius: 10px;
}
.auth-card h3{
  font-size: 19px;
  font-weight: 500;
  color: var(--color-777777);
}
.auth-card .form-control{
  height: 50px;
  background-color: var(--color-f5f5f7);
  columns: var(--color-777777);
  font-size: 14px;
  border-radius: 10px;
  border-color: transparent;
}
.auth-card a{
  font-size: 14px;
  font-weight: 400;
  color: var(--color-1c1c1b);
}
.signup{
  background-color: var(--color-febd69);
  color: var(--color-131921);
  border: none;
}
.signup:hover{
  background-color: var(--color-131921);
  color: white;
}

/* auth card ends here*/

/* Main Product starts here*/

.description-wrapper h4{
  font-size: 26px;
  color: var(--color-1c1c1b);
}
.description-wrapper p{
  font-size: 14px;
  color: var(--color-777777);
}

.main-product-image{
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}
.main-product-image > div{
  border: 1px solid rgba(0,0,0,0.25);
}
.main-product-image img{
  width: 100% !important;
  height: 500px !important;
  object-fit: cover;
}
.other-product-images{
  background-color: white;
  padding: 20px;
}
.other-product-images>div{
  padding: 20px;
  width: 48%;
  border: 1px solid rgba(0,0,0,0.25);
}
.main-product-image .js-image-zoom_zoomed-image{
  left: 50px !important;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  z-index: 1000;
}
.main-product-details{
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}
.border-bottom{
  border-bottom: 1px solid rgba(0,0,0,0.25);
}
.main-product-details h3.title{
  font-size: 18px;
  font-weight: 600;
  color: var(--color-1c1c1b);
  margin-bottom: 10px;
}
.main-product-details p.price{
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
  line-height: 20px;
  margin-top: 10px;
}
.main-product-details t-review{
  color: var(--color-777777);
  font-size: 13px;
}
.product-heading{
  font-size: 14px;
  color: var(--color-1c1c1b);
  margin-bottom: 0px;
}
.product-data{
  font-size: 13px;
  color: var(--color-777777);
  margin-bottom: 0px;
}
.main-product-details a{
  font-size: 14px;
  color: var(--color-777777);
}

/* Main Product ends here*/



/*Home part ends */